.admin-panel-modal-lock
{
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.856);
    position: fixed;
    z-index:100;
}

.admin-panel-modal
{
    display: none;
}


.admin-panel-modal-open
{
    display: block;
    position: fixed;
    z-index: 1; 
    left: 25%;
    top: 25%;
    width: 50%; 
    height: 50%; 
    background-color: white;
    color: black;
    overflow: auto;
}

.glyphicon-remove
{
    color: red;
    position: absolute;
    left: 92%;
    top: 5px;
    font-size: 20px;
    padding:20px;
    cursor: pointer;
}

.radio
{
    position: center;
    width: 75%;
    left:13%;
    top: 20px;
}

.radio-btn
{
    position: relative;
    left: 20%;
    vertical-align: bottom;
    padding-bottom: 20px;
}


.pid-delete
{
    position: absolute;
    bottom: 20px;
    left: 100px;
}

.admin-form
{
    margin: 50px;
    width: 50%;
    position: relative;
    left: 18%;
    top: 20px;
    padding: 20px;
    
}

.admin-control
{
    padding: 5px;
}

.submit-btn
{
  position: relative; 
  left: 45%;
  bottom: 40px;
  display: inline;
}


input[type="radio"]
{
    margin-top: 30px;
    margin-left: 15px;
    vertical-align: middle;
}

input[type="text"]
{
    width: 92%;
    margin-left: 4%;
    text-align: center;
}

h3
{
    text-align: center;
}

label
{
    vertical-align: top;
}
