<button id="admin-panel-button" (click)="openDialog()">Admin Panel</button>

<div id="admin-panel-modal-lock">
  <div id="admin-panel-modal" class="admin-panel-modal">
    <div class="admin-panel-modal-body">
        <span class="glyphicon glyphicon-remove" (click)="close()"></span>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
          <h3>Admin Control Panel</h3>


          <div class="radio row form-group">
            <div class="col-sm-3 radio-btn">
              <input (click)="EnableControls()"type="radio" value="Create" formControlName="formType">Create
            </div>
            <div class="col-sm-3 radio-btn">
              <input (click)="EnableControls()"type="radio" value="Update" formControlName="formType">Update
            </div>
            <div class="col-sm-3 radio-btn">
              <input  (click)="DisableControlsForDelete()" type="radio" value="Delete" formControlName="formType">Delete
            </div>
          </div>


          <div *ngIf="CurrentType.value==='Create'" class="admin-form form-group">
            <div class="admin-control">
              <input type="text" value="PID" formControlName="PID" placeholder="Product ID to create">
            </div>
            <div class="admin-control">
              <input type="text" value="ProductName" formControlName="ProductName" placeholder="Product name to create">
            </div>
            <div class="admin-control">
              <input type="text" value="ProductDescription" formControlName="ProductDescription" placeholder="Product description to create">
            </div>
            <div class="admin-control">
              <input type="text" value="ProductPrice" formControlName="ProductPrice" placeholder="Product price to create">
            </div>
            <div class="admin-control">
              <input type="text" value="FilePath" formControlName="FilePath" placeholder="Image file path to create">
            </div>
          </div>

          <div *ngIf="CurrentType.value==='Update'" class="admin-form form-group">
            <div class="admin-control">
              <input type="text" value="PID" formControlName="PID" placeholder="Product ID to update">
            </div>
            <div class="admin-control">
              <input type="text" value="ProductName" formControlName="ProductName" placeholder="Product name to update">
            </div>
            <div class="admin-control">
              <input type="text" value="ProductDescription" formControlName="ProductDescription" placeholder="Product description to update">
            </div>
            <div class="admin-control">
              <input type="text" value="ProductPrice" formControlName="ProductPrice" placeholder="Product price to update">
            </div>
            <div class="admin-control">
              <input type="text" value="FilePath" formControlName="FilePath" placeholder="Image file path to update">
            </div>
          </div>



          <div *ngIf="CurrentType.value==='Delete'" class="admin-form form-group">
            <div class="admin-control">
              <input  type="text" value="PID" formControlName="PID" placeholder="Product ID to Delete">
            </div>
          </div>
        
        <div class="submit-btn" *ngIf="CurrentType.value==='Create' || CurrentType.value==='Update' || CurrentType.value==='Delete'">
          <button class="btn btn-primary"[disabled]="form.invalid">Submit</button>
        </div>
        </form>
    </div>
  </div>
  </div>