<div>
    <like></like>
</div>

<div>  
    <disarray title="Hello">World</disarray>
</div>

<div>  
    <div><templateForm></templateForm></div>
    <div><password></password></div>
</div>


<div>
    <github></github>
</div>

<div>
    <navigate-to-archive></navigate-to-archive>
</div>

<div class="col-md-4">
    <inventory-item title="Product Item" imageSrc="http://placehold.jp/350x250.png" class="col-md-4">
    A brief description of this product item. A brief description of this product item. A brief description of this product item.</inventory-item>
</div>